# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.pdb
*.idb
*.ilk
*.exp
*.nativecodeanalysis.xml


.vs
.clangd

#vs
*.sln
*.vcxproj
*.vcxproj.filters
projects

#profiling
*.tracy
traces

Meta
bin
bin-int
docs
settings.json
imgui.ini
